<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A598</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Abracadabra Triggers</string>
	<key>CFBundleExecutable</key>
	<string>Abracadabra Triggers</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSGestureTriggers</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Abracadabra Triggers</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.1</string>
	<key>CFBundleVersion</key>
	<string>12C</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2034a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A595</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2034a</string>
	<key>QSDefaults</key>
	<dict>
		<key>QSACFailureColor</key>
		<data>
		BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAQAAAYY=
		</data>
		<key>QSACFailureSound</key>
		<string>No Sound</string>
		<key>QSACGestureColor</key>
		<data>
		BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAEBAYY=
		</data>
		<key>QSACModifierActivation</key>
		<integer>23</integer>
		<key>QSACMouseActivation</key>
		<integer>0</integer>
		<key>QSACRecognizedColor</key>
		<data>
		BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAEAAYY=
		</data>
		<key>QSACRecognizedSound</key>
		<string>No Sound</string>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>author</key>
		<string>Alcor, Jason Cornwell, QSApp Team</string>
		<key>categories</key>
		<array>
			<string>Quicksilver</string>
		</array>
		<key>description</key>
		<string>Trigger commands with mouse/trackpad gestures</string>
		<key>extendedDescription</key>
		<string>&lt;h1&gt;Abracadabra Triggers&lt;/h1&gt;
&lt;p&gt;This plug-in allows you to trigger actions in Quicksilver by drawing a gesture on screen using a mouse or trackpad.&lt;/p&gt;
&lt;p&gt;Gestures are initiated by holding either a modifier key (Shift, Control, etc.) or a mouse button.&lt;/p&gt;
&lt;p&gt;Colors and sounds are customizable in the preferences under Abracadabra.&lt;/p&gt;
&lt;h2&gt;Creating a Trigger&lt;/h2&gt;
&lt;ol&gt;
&lt;li&gt;In the Triggers… preferences, add a new trigger using the &lt;code&gt;+&lt;/code&gt; button and choose "Gesture".&lt;/li&gt;
&lt;li&gt;Click somewhere in the info panel's box and hold the button down.&lt;/li&gt;
&lt;li&gt;Draw the desired gesture, then release the button.&lt;/li&gt;
&lt;li&gt;Optionally, define the applications where the trigger should be active under the Scope tab.&lt;/li&gt;
&lt;/ol&gt;
&lt;h3&gt;Tips&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;It helps to practice the gesture a few times before setting it.&lt;/li&gt;
&lt;li&gt;You can replace an existing gesture at any time by simply drawing a new one.&lt;/li&gt;
&lt;li&gt;When defining a gesture, only the initial click needs to be inside the box. You can go outside of it when drawing, so draw the gesture at the size that feels natural for real-world use.&lt;/li&gt;
&lt;/ul&gt;</string>
		<key>icon</key>
		<string>Abracadabra</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSAbracadabraPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSAbracadabraPrefPane</string>
				<key>description</key>
				<string>Gesture preferences</string>
				<key>icon</key>
				<string>Abracadabra</string>
				<key>name</key>
				<string>Abracadabra</string>
			</dict>
		</dict>
		<key>QSTriggerManagers</key>
		<dict>
			<key>QSGestureTrigger</key>
			<string>QSGestureTriggerManager</string>
		</dict>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>Abracadabra</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSGestureTriggers</string>
			<key>resource</key>
			<string>Abracadabra.icns</string>
		</dict>
	</dict>
</dict>
</plist>
